<header id="login-header">
  <span id="login-title-pre" class="login-title">Project</span>
  <span id="login-title-on" class="login-title">
    <div id="encloser">
      <div id="encloser-dash">
        <div id="dash"></div>
      </div>
      <div id="encloser-circle">
        <div id="circle"></div>
      </div>
      <div id="encloser-circle-hole">
        <div id="circle-hole"></div>
        <div id="circle-hole-color"></div>
      </div>
    </div>
  </span>
  <span id="login-title-post" class="login-title">n</span>
</header>


<div id="email-format-error" class="alert alert-error">
  ¿Estás seguro de que eso es un email? ¡Revísalo!
</div>

<div id="email-unregistered-error" class="alert alert-error">
  Ese email no está en el sistema, ¡regístrate antes de entrar!
</div>

<div id="pass-format-error" class="alert alert-error">
  Con una contraseña tan corta tus proyectos no estarían seguros. Tu contraseña seguro que es más larga
</div>

<div id="pass-wrong-error" class="alert alert-error">
  ¡Esa no es tu contraseña! Prueba otra vez
</div>

<div id="panel-login">
  {{#view App.LoginFormView}}
    <div id="login-form">
      <div>
        <label>
          Email:
        </label>
        {{view Ember.TextField valueBinding="view.username" id="email-input"}}
        <div id="email-bulb" class="off-bulb"></div>
      </div>
      
      <div>
        <label>
          Contraseña:
        </label>
        {{view Ember.TextField type="password" valueBinding="view.password" id="pass-input"}}
        <div id="pass-bulb" class="off-bulb"></div>
      </div>
      
      <button>Entrar</button>
    </div>
  {{/view}}
</div>